body {
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 140px;
    background-color: rgb(153, 151, 151);
}

.numberStyle {
    font-size:70px;
    font-weight:bold;
    color: gold;
}
